
blockquote {
    font-style: italic
  }
  
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

table{
   font-size: 17px;
}

footer {
  display: block;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 li {
  display: inline;
}

.main-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

 /* unvisited link */
a:link {
  color: navy;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: blue;
} 

font-style {
  font-display: Robotico;
}